.relatedvideos
{
    border:#CCCCCC solid 1px;background:#fff;float:left;margin:15px 0px 0px 0px;
}
.relatedvideos p strong
{
    background:#eeeeee;text-align:left;border:#ffffff solid 1px;line-height:10px;padding:8px;display:block;
}